:root {
  --grey-color: #303841;
  --red-color: #be3144;
  --white-color: #f0f0f0;
  --blue-color: #45567d;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  line-height: 1;
}
#navbar {
  height: 70px;
  width: 100%;
  background-color: var(--red-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}
.nav-links {
  height: 100%;
  margin-right: 40px;
  width: 350px;
  padding: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--white-color);
  width: 120px;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar a:hover {
  background-color: var(--blue-color);
}

#welcome-section {
  background-color: var(--grey-color);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#welcome-intro {
  width: 80%;
  height: 100px;
  text-align: center;
}
#welcome-intro p {
  color: var(--red-color);
}

h1 {
  margin-top: 0;
  font-size: 3rem;
}
h1:last-of-type {
  font-family: "Raleway", sans-serif;
}
p {
  margin-top: -20px;
  font-weight: 200;
}

#projects {
  background-color: var(--blue-color);
  text-align: center;
  padding: 130px 20px;
  padding-top: 100px;
}

.project-tile {
  margin: 30px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
figure {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

figcaption {
  background-color: var(--grey-color);
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 1.3rem;
  cursor: pointer;
}

figcaption:hover::before {
  content: "< ";
  color: orangered;
  font-size: 1.3rem;
}

figcaption:hover::after {
  content: " />";
  color: orangered;
  font-size: 1.3rem;
}

#projects a {
  padding: 8px 20px;
  margin-top: 40px;
  background-color: var(--grey-color);
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white-color);
}

#projects a:hover {
  background-color: var(--red-color);
}

hr {
  width: 70%;
  margin-top: -20px;
  border: var(--white-color) solid 1px;
}

#contact {
  background-color: var(--grey-color);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#contact p,
footer p {
  font-size: 1rem;
}

#contact a {
  text-decoration: none;
  color: var(--white-color);
}
#contact i {
  font-size: 1em;
  color: #f0f0f0;
}
.links {
  margin-top: 20px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#profile-link {
  margin-right: 25px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px #000000;
}

#profile-link:hover {
  margin-top: 10px;
  transition: margin 0.2s ease-in-out;
}
footer {
  border-top: #be3144 solid 3px;
  background-color: var(--grey-color);
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  padding-top: 30px;
}

footer p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  #projects {
    padding: 130px 0;
    padding-top: 100px;
  }
  figure {
    width: 90%;
    margin: 5px;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  .project-tile {
    margin: 30px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
  }
  .links {
    margin-top: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
